# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.venv/
.venv copy/
*.egg

# Database
*.db
*.sqlite
*.sqlite3

# Environment
.env
.env.local

# Node
node_modules/
.next/
out/
build/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
